@import "../../scss/variables";

.snackbar_container {
  .MuiSnackbar-root {
    .MuiAlert-action {
      display: none;
    }
    .MuiAlert-root {
      width: 20rem;
      height: 2rem;
      align-items: center;
      justify-content: center;
    }
    .MuiAlert-filledSuccess {
      background-color: $success;
    }
    .MuiAlert-filledError {
      background-color: $faint-error;
      .MuiSvgIcon-root,
      .MuiAlert-message {
        color: $dark-error;
      }
    }
    &.alert_no_1 {
      top: 9rem;
    }
    &.alert_no_2 {
      top: 12.125rem;
    }
    &.alert_no_3 {
      top: 15.25rem;
    }
    &.alert_no_4 {
      top: 18.375rem;
    }
    &.alert_no_5 {
      top: 21.5rem;
    }
    .MuiAlert-root {
      border-radius: 8px;
    }
  }
}
