/* ============= Colors ============= */
$theme-colors: (
  "primary": #45474b,
  //for all texts
  "secondary": #0f53c6,
  // for required *
  //background-buttons and notifications
  "black": #3d3d3d,
  // text colors
  "error": #f44336,
  "success": #40a756,
  // input background
  "grey": #f0f2f5,
  "grey-Placeholder": #9fa1a8,
  "grey-button": #f7f7f7
);
$primary: #45474b !default;
$primary-override: #45474b !default;
$secondary: #0f53c6 !default;
$secondary-override: #0f53c6 !default;
$error: #f44336 !default;
$success: #40a756 !default;
$grey: #f0f2f5 !default;
$grey-Placeholder: #9fa1a8 !default;
$grey-feedback: #d9d9d933 !default;
$grey-button: #f7f7f7 !default;
$grey-lighter: #fafafa !default;
$dark-error: #d1373f !default;
$faint-error: #ffc6c6;
$light-blue: #71a2f380 !default;

$colors: () !default;
$colors: map-merge(
  (
    $primary: $primary,
    $secondary: $secondary,
    $error: $error,
    $success: $success,
    $grey: $grey,
    $grey-Placeholder: $grey-Placeholder
  ),
  $colors
);

$primary: $primary;
$secondary: $secondary;
$error: $error;
$success: $success;
$grey: $grey;
$grey-Placeholder: $grey-Placeholder;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "success": $success,
    "grey": $grey,
    "grey-Placeholder": $grey-Placeholder
  ),
  $theme-colors
);
